---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Page not found">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--small-sm)",
    }}>
    <div>
        <h1>welp awkward</h1>
    </div>
  </div>
</MainLayout>
