---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="about">
  <section class="container about" aria-label="About Me">
    <img src="/images/headshot.jpg" alt="Headshot" width="200" height='330"' />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea porro sunt
        laboriosam consequuntur, amet natus unde dignissimos, culpa obcaecati
        labore, odit magnam illum sapiente eius quasi quos architecto. Deleniti,
        debitis.
      </p>
      <Link classes="black-btn"  href="mailto:chris@condingpublic.dev" isFilled={true} style="primary" text="Contact Me" />
    </div>
  </section>
</MainLayout>
